@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", serif;
  letter-spacing: 0.025rem;
  background-color: #fff;
}

.Toastify__toast-container {
  z-index: 9999999;
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li a {
  text-decoration: none;
  color: #24222a;
}
nav ul li a:hover {
  text-decoration: underline;
}

nav ul li.active a {
  color: #706758;
  font-weight: bold;
  text-decoration: underline;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
